[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pystan = "*"
pandas = "*"
requests = "*"
flask-restful = "*"
pyyaml = "*"
gremlinpython = "*"
matplotlib = "*"
fbprophet = "*"
kazoo = "*"
influxdb = "*"
click = "*"
humanfriendly = "*"

[dev-packages]
ipython = "*"
pylint = "*"
sphinx = "*"
mypy = "*"
"flake8" = "*"
black = "*"

[pipenv]
allow_prereleases = true
